---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="sk">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
	</head>
	<body>
		<div class="flex min-h-screen flex-col md:h-screen md:w-screen md:justify-between">
			<div class="mt-12 flex-grow md:mt-0">
				<slot />
			</div>
		</div>
	</body>
</html>